body {
  padding: 15px 25px;
}

.ajax-it-up {
  font-size: 2rem;
}

.container {
  border: 3px solid green;
  border-radius: 20px;
  padding: 10px;
}

@media (max-width: 1000px) {
  body {
    font-family: 'Audiowide', cursive;
  }
}
