@import '_vars';

body {
  background: $blackish;
  color: $old-green;
  font-size: 1.4rem;
  font-family: 'VT323', monospace;
}

h1 {
  margin: 0px;
}

a {
  color: cyan;
}

label {
  text-align: left;
  display: block;;
}

input {
  width: 100%;
  font-size: 24px;
  font-family: 'VT323', monospace;
  border: 5px solid $dark-amber;
  background-color: $blackish;
  color: $old-green;
  transition: border-color 0.5s ease;
}

input:hover {
  border-color: cyan;
}

input[type="submit"]:hover {
  background-color: black;
  cursor: pointer;
}

.logo{
  .head {
    fill: $amber;
  }
  .suit {
    fill: $dark-amber;
  }
  .magnifying-glass {
    fill: green;
  }
}

.container {
  display: grid;
  grid-template-columns: [sidebar] 1fr [form] 1fr [results] 2fr;
}

.container__item {
  display: inline-block;
  border: 5px solid $dark-amber;
  margin-left: -5px;
  margin-bottom: -5px;
  padding: 10px 40px;
  text-align: center;
  color: $old-green;
}

.github-avatar {
  min-width: 150px;
  width: 30%;
}

footer {
  text-align: center;
  clear: both;
}

@media (max-width: 1005px) {
  .container {
    display: grid;
    grid-template-columns: [sidebar] 0.5fr [form] 1fr [results] 1fr;
  }
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  }

  .container__item--1 {
    height: 100px;
  }
}
